html,body,#root{
  height: calc(100% - 8px);
}
.profile-image-container{
  padding: 10px 5px;
}
.col-autocalc{
  width: calc(100% - 60px)!important;
}
.post-text-preview{
  font-size: 80%;
}
.hoverable-row:hover{
  background-color: #cecece;
  cursor: pointer;
}
.box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.sender{
  width: 100%;
}
.box input{
  width: calc(100% - 80px);
}
.box button{
  width: 80px;
}